In [1]:
import numpy as np 
import pandas as pd

In [2]:
train_data=pd.read_csv('fruits_train_features.csv')
test_data=pd.read_csv('fruits_test_features.csv')

In [3]:
data=pd.merge(train_data, test_data, how='outer')

In [4]:
data

,mean_R,mean_G,mean_B,std_R,std_G,std_B,mean_H,mean_S,mean_V,std_H,std_S,std_V,dark_ratio,high_saturation_ratio,gray_std,laplacian_var,label
0,29.431152,21.819580,15.357727,47.722395,36.223029,23.742935,17.152466,99.355713,29.824524,31.178286,67.437876,47.915302,0.818848,0.241089,37.930177,410.371338,rottenbanana
1,29.689514,21.990051,15.473755,47.601735,36.132287,23.683373,17.246521,102.447449,30.082703,30.793773,66.309506,47.794682,0.818176,0.251648,37.836749,404.614916,rottenbanana
2,29.819702,22.077332,15.538635,47.535231,36.091510,23.651556,17.472046,103.344849,30.213623,30.966043,65.891199,47.727499,0.817749,0.253357,37.781418,404.957979,rottenbanana
3,30.167114,22.317688,15.710876,47.364597,35.968537,23.549085,17.863098,107.265686,30.564026,30.824686,64.006017,47.551613,0.817444,0.262085,37.647077,418.815060,rottenbanana
4,30.435974,22.521423,15.844849,47.344608,35.975079,23.585936,18.833374,110.399780,30.837219,31.848332,62.682073,47.530059,0.818848,0.272217,37.643460,470.346372,rottenbanana
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13451,252.859314,245.253479,228.327759,8.666013,22.647739,59.599564,7.691833,25.810242,252.913635,22.183006,57.779472,8.367252,0.000000,0.138123,21.767905,130.287231,freshbanana
13452,253.104431,247.909241,222.243225,5.349254,13.773648,55.883357,15.405701,31.497253,253.155151,33.913751,55.315869,5.224931,0.000000,0.036072,14.639295,51.413330,freshbanana
13453,253.104431,247.909241,222.243225,5.349254,13.773648,55.883357,15.405701,31.497253,253.155151,33.913751,55.315869,5.224931,0.000000,0.036072,14.639295,51.413330,freshbanana
13454,253.521423,248.897583,223.096863,11.420861,16.101640,66.296343,10.089050,31.115417,253.551392,26.031608,65.044311,11.404893,0.000488,0.154724,18.336943,189.515503,freshbanana
13455,253.521423,248.897583,223.096863,11.420861,16.101640,66.296343,10.089050,31.115417,253.551392,26.031608,65.044311,11.404893,0.000488,0.154724,18.336943,189.515503,freshbanana

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13456 entries, 0 to 13455
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   mean_R                 13456 non-null  float64
 1   mean_G                 13456 non-null  float64
 2   mean_B                 13456 non-null  float64
 3   std_R                  13456 non-null  float64
 4   std_G                  13456 non-null  float64
 5   std_B                  13456 non-null  float64
 6   mean_H                 13456 non-null  float64
 7   mean_S                 13456 non-null  float64
 8   mean_V                 13456 non-null  float64
 9   std_H                  13456 non-null  float64
 10  std_S                  13456 non-null  float64
 11  std_V                  13456 non-null  float64
 12  dark_ratio             13456 non-null  float64
 13  high_saturation_ratio  13456 non-null  float64
 14  gray_std               13456 non-null  float64
 15  laplacian_var          13456 non-null  float64
 16  label                  13456 non-null  object
dtypes: float64(16), object(1)
memory usage: 1.7+ MB

In [6]:
data.describe()

,mean_R,mean_G,mean_B,std_R,std_G,std_B,mean_H,mean_S,mean_V,std_H,std_S,std_V,dark_ratio,high_saturation_ratio,gray_std,laplacian_var
count,13456.000000,13456.000000,13456.000000,13456.000000,13456.000000,13456.000000,13456.000000,13456.000000,13456.000000,13456.000000,13456.000000,13456.000000,13456.000000,13456.000000,13456.000000,13456.000000
mean,186.572467,160.978529,134.693912,73.309996,78.131168,86.896497,23.849778,72.359643,188.311477,30.973907,69.508881,73.016598,0.125785,0.256169,75.641082,2087.208262
std,33.437836,34.398127,33.612276,25.088763,19.742948,15.506384,20.116597,30.041833,32.698284,18.912996,17.116086,25.566764,0.102845,0.176281,19.688498,1184.144572
min,29.431152,21.819580,15.357727,5.145346,13.292593,13.181933,3.017578,3.774780,29.824524,1.239313,9.623037,5.153533,0.000000,0.000000,11.243027,9.347519
25%,167.117188,137.797256,111.685318,56.019438,68.929304,80.105718,11.471909,49.119751,169.688751,17.145816,60.730891,55.258942,0.008163,0.108627,65.288046,1241.146936
50%,188.881439,160.048828,133.319824,81.053656,81.577436,89.282838,16.003754,73.983612,190.371521,23.173974,73.141657,81.236024,0.136047,0.243469,79.399864,2076.853782
75%,208.764282,184.499908,156.866028,89.987599,90.966475,96.424112,27.831100,93.195221,210.068634,41.983081,82.090518,89.906836,0.173523,0.386841,88.163711,2841.249720
max,253.521423,248.897583,228.623230,124.386650,121.673725,121.484343,133.927673,188.741150,253.551392,87.698799,106.489847,124.389446,0.818848,0.997559,120.868516,8285.402117

In [7]:
data['label']

0        rottenbanana
1        rottenbanana
2        rottenbanana
3        rottenbanana
4        rottenbanana
             ...
13451     freshbanana
13452     freshbanana
13453     freshbanana
13454     freshbanana
13455     freshbanana
Name: label, Length: 13456, dtype: object

In [8]:
data['label_full']=data['label']
data['condition'] = data['label'].str.extract(r'^(rotten|fresh)')
data['fruit'] = data['label'].str.extract(r'(banana|oranges|apples)$')
data.drop(columns=['label'], inplace=True)

In [9]:
data

,mean_R,mean_G,mean_B,std_R,std_G,std_B,mean_H,mean_S,mean_V,std_H,std_S,std_V,dark_ratio,high_saturation_ratio,gray_std,laplacian_var,label_full,condition,fruit
0,29.431152,21.819580,15.357727,47.722395,36.223029,23.742935,17.152466,99.355713,29.824524,31.178286,67.437876,47.915302,0.818848,0.241089,37.930177,410.371338,rottenbanana,rotten,banana
1,29.689514,21.990051,15.473755,47.601735,36.132287,23.683373,17.246521,102.447449,30.082703,30.793773,66.309506,47.794682,0.818176,0.251648,37.836749,404.614916,rottenbanana,rotten,banana
2,29.819702,22.077332,15.538635,47.535231,36.091510,23.651556,17.472046,103.344849,30.213623,30.966043,65.891199,47.727499,0.817749,0.253357,37.781418,404.957979,rottenbanana,rotten,banana
3,30.167114,22.317688,15.710876,47.364597,35.968537,23.549085,17.863098,107.265686,30.564026,30.824686,64.006017,47.551613,0.817444,0.262085,37.647077,418.815060,rottenbanana,rotten,banana
4,30.435974,22.521423,15.844849,47.344608,35.975079,23.585936,18.833374,110.399780,30.837219,31.848332,62.682073,47.530059,0.818848,0.272217,37.643460,470.346372,rottenbanana,rotten,banana
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13451,252.859314,245.253479,228.327759,8.666013,22.647739,59.599564,7.691833,25.810242,252.913635,22.183006,57.779472,8.367252,0.000000,0.138123,21.767905,130.287231,freshbanana,fresh,banana
13452,253.104431,247.909241,222.243225,5.349254,13.773648,55.883357,15.405701,31.497253,253.155151,33.913751,55.315869,5.224931,0.000000,0.036072,14.639295,51.413330,freshbanana,fresh,banana
13453,253.104431,247.909241,222.243225,5.349254,13.773648,55.883357,15.405701,31.497253,253.155151,33.913751,55.315869,5.224931,0.000000,0.036072,14.639295,51.413330,freshbanana,fresh,banana
13454,253.521423,248.897583,223.096863,11.420861,16.101640,66.296343,10.089050,31.115417,253.551392,26.031608,65.044311,11.404893,0.000488,0.154724,18.336943,189.515503,freshbanana,fresh,banana
13455,253.521423,248.897583,223.096863,11.420861,16.101640,66.296343,10.089050,31.115417,253.551392,26.031608,65.044311,11.404893,0.000488,0.154724,18.336943,189.515503,freshbanana,fresh,banana

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13456 entries, 0 to 13455
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   mean_R                 13456 non-null  float64
 1   mean_G                 13456 non-null  float64
 2   mean_B                 13456 non-null  float64
 3   std_R                  13456 non-null  float64
 4   std_G                  13456 non-null  float64
 5   std_B                  13456 non-null  float64
 6   mean_H                 13456 non-null  float64
 7   mean_S                 13456 non-null  float64
 8   mean_V                 13456 non-null  float64
 9   std_H                  13456 non-null  float64
 10  std_S                  13456 non-null  float64
 11  std_V                  13456 non-null  float64
 12  dark_ratio             13456 non-null  float64
 13  high_saturation_ratio  13456 non-null  float64
 14  gray_std               13456 non-null  float64
 15  laplacian_var          13456 non-null  float64
 16  label_full             13456 non-null  object
 17  condition              13456 non-null  object
 18  fruit                  13456 non-null  object
dtypes: float64(16), object(3)
memory usage: 2.0+ MB

In [11]:
from sklearn.model_selection import StratifiedKFold, cross_val_score, train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, accuracy_score

In [12]:
feature_names = [
    "mean_R", "mean_G", "mean_B",
    "std_R", "std_G", "std_B",
    "mean_H", "mean_S", "mean_V",
    "std_H", "std_S", "std_V",
    "dark_ratio",
    "high_saturation_ratio",
    "gray_std",
    "laplacian_var"
]

X = data[feature_names]
y = data["label_full"]

In [13]:
X.shape, y.shape

((13456, 16), (13456,))

In [14]:
pipelines={
    "KNN": Pipeline([('scaler', StandardScaler()), ('knn', KNeighborsClassifier(n_neighbors=5))]),
    "SVC": Pipeline([('scaler', StandardScaler()), ('svc', SVC(kernel='rbf', C=1.0, gamma='scale'))]),
    "RandomForest": Pipeline([('scaler', StandardScaler()), ('rf', RandomForestClassifier(n_estimators=200, max_depth=None, random_state=42))])
}

In [15]:
cv = StratifiedKFold(
    n_splits=5,     
    shuffle=True,
    random_state=42
)

In [16]:

results = {}

for name, pipe in pipelines.items():
    scores = cross_val_score(
        pipe,
        X, y,
        cv=cv,
        scoring="accuracy",
        n_jobs=-1  
    )
    
    results[name] = scores
    print(f"Model: {name}")
    print("CV scores:", scores)
    print("Mean Accuracy:", scores.mean())
    print("Std:", scores.std())
    print("-" * 40)

Model: KNN
CV scores: [0.87630015 0.87885544 0.88257153 0.88219993 0.88740245]
Mean Accuracy: 0.8814659011409447
Std: 0.0037550857963237136
----------------------------------------
Model: SVC
CV scores: [0.88038633 0.87328131 0.87588257 0.86733556 0.88257153]
Mean Accuracy: 0.8758914614396234
Std: 0.005382259739889375
----------------------------------------
Model: RandomForest
CV scores: [0.96322437 0.95875139 0.96432553 0.96506875 0.96692679]
Mean Accuracy: 0.9636593664534747
Std: 0.002734360123372709
----------------------------------------

In [17]:

best_model_name = "RandomForest" 
best_pipe = pipelines[best_model_name]

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42,
    stratify=y
)


best_pipe.fit(X_train, y_train)


y_pred = best_pipe.predict(X_test)

print("Final Test Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

Final Test Accuracy: 0.9687964338781575

Classification Report:
               precision    recall  f1-score   support

  freshapples       0.99      0.96      0.97       413
  freshbanana       0.97      0.97      0.97       386
 freshoranges       0.96      0.98      0.97       365
 rottenapples       0.94      0.97      0.96       584
 rottenbanana       0.98      1.00      0.99       547
rottenoranges       0.97      0.92      0.95       397

     accuracy                           0.97      2692
    macro avg       0.97      0.97      0.97      2692
 weighted avg       0.97      0.97      0.97      2692

In [23]:
import joblib

joblib.dump(best_pipe, "fruit_quality_model.pkl")

['fruit_quality_model.pkl']